TER_2021_NodeRed/flow.json
[
    {
        "id": "9c11a551.5e4b68",
        "type": "tab",
        "label": "Simulation Capteur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8b9071f7.6ad848",
        "type": "tab",
        "label": "Reception données",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f67f30b.6c0e2",
        "type": "mongodb",
        "hostname": "cluster0.kiq9v.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "retryWrites=true&w=majority",
        "port": "27017",
        "db": "TER",
        "name": "MongoDB_TER"
    },
    {
        "id": "25906686.787a1a",
        "type": "ui_tab",
        "name": "UI test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5df39afa.60667c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3e013ee1.e0f7fa",
        "type": "ui_group",
        "name": "Changer un capteur commerce",
        "tab": "25906686.787a1a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e237a463.1bf93",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9d25d6f0.b34818",
        "type": "ui_group",
        "name": "Changer tous les capteurs commerces",
        "tab": "25906686.787a1a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "da2c5511.26844",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9d25d6f0.b34818",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7b8bdf4.c4f7d8",
        "type": "mqtt in",
        "z": "8b9071f7.6ad848",
        "name": "",
        "topic": "CapteurCommerce",
        "qos": "2",
        "datatype": "auto",
        "broker": "e237a463.1bf93",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e3e72668.65d148"
            ]
        ]
    },
    {
        "id": "6d3f72d2.edce4c",
        "type": "debug",
        "z": "8b9071f7.6ad848",
        "name": "Resultat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e498bb2.ae8644",
        "type": "mongodb in",
        "z": "8b9071f7.6ad848",
        "mongodb": "8f67f30b.6c0e2",
        "name": "",
        "collection": "commerces",
        "operation": "find",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "2ee298.a2519d68"
            ]
        ]
    },
    {
        "id": "ff7d6df5.f4b6d",
        "type": "function",
        "z": "8b9071f7.6ad848",
        "name": "create the find query",
        "func": "msg.id =msg.payload.sensorId;\nmsg.currentPeopleNumber = msg.payload.currentPeopleNumber;\nmsg.avgPeople=msg.payload.avgPeople;\n\nmsg.payload = { _id: msg.id };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "7e498bb2.ae8644",
                "c213dda4.18acd8"
            ]
        ]
    },
    {
        "id": "e3e72668.65d148",
        "type": "json",
        "z": "8b9071f7.6ad848",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "ff7d6df5.f4b6d",
                "89d9a63f.684f88"
            ]
        ]
    },
    {
        "id": "2ee298.a2519d68",
        "type": "function",
        "z": "8b9071f7.6ad848",
        "name": "",
        "func": "msg.payload=msg.payload[0];\nmsg.payload.currentPeopleNumber = msg.currentPeopleNumber;\n\nvar date = new Date();\nvar hour = date.getHours()\n\nvar index = hour - 6;\nvar hourString = hour + \"h\" \n\nmsg.payload.avgPeoplePerHour[index][hourString] = msg.avgPeople\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 200,
        "wires": [
            [
                "6d3f72d2.edce4c",
                "1564dc6b.7903c4"
            ]
        ]
    },
    {
        "id": "89d9a63f.684f88",
        "type": "debug",
        "z": "8b9071f7.6ad848",
        "name": "Message in Json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "c213dda4.18acd8",
        "type": "debug",
        "z": "8b9071f7.6ad848",
        "name": "Query",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "3fa05052.2fc468",
        "type": "comment",
        "z": "8b9071f7.6ad848",
        "name": "Get the shop infos",
        "info": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "beacaa99.968e1",
        "type": "comment",
        "z": "8b9071f7.6ad848",
        "name": "Get witch shop to alter",
        "info": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d7a3838.4bd15",
        "type": "comment",
        "z": "8b9071f7.6ad848",
        "name": "Create the new shop infos",
        "info": "",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "1564dc6b.7903c4",
        "type": "mongodb out",
        "z": "8b9071f7.6ad848",
        "mongodb": "8f67f30b.6c0e2",
        "name": "",
        "collection": "commerces",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "54e0d06.45138b",
        "type": "inject",
        "z": "8b9071f7.6ad848",
        "name": "String sensorId and values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorId\":1,\"currentPeopleNumber\":69, \"avgPeople\": 420}",
        "payloadType": "str",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "711b12ba.ac7894"
            ]
        ]
    },
    {
        "id": "711b12ba.ac7894",
        "type": "mqtt out",
        "z": "8b9071f7.6ad848",
        "name": "",
        "topic": "CapteurCommerce",
        "qos": "",
        "retain": "",
        "broker": "e237a463.1bf93",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec7492a2.2f7298",
        "type": "inject",
        "z": "9c11a551.5e4b68",
        "name": "String sensorId and values",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorId\":1,\"currentPeopleNumber\":69, \"avgPeople\": 420}",
        "payloadType": "str",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "d8ec207b.9d32f8"
            ]
        ]
    },
    {
        "id": "d8ec207b.9d32f8",
        "type": "mqtt out",
        "z": "9c11a551.5e4b68",
        "name": "",
        "topic": "CapteurCommerce",
        "qos": "",
        "retain": "",
        "broker": "e237a463.1bf93",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "16a95673.787722",
        "type": "ui_text_input",
        "z": "9c11a551.5e4b68",
        "name": "",
        "label": "ID commerce  (0 - 14)",
        "tooltip": "0-14",
        "group": "3e013ee1.e0f7fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "3c8c83fa.e36504"
            ]
        ]
    },
    {
        "id": "72a67331.bb884c",
        "type": "ui_text_input",
        "z": "9c11a551.5e4b68",
        "name": "",
        "label": "Nombre de personnes à l'interieur",
        "tooltip": "",
        "group": "3e013ee1.e0f7fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "27326392.928924"
            ]
        ]
    },
    {
        "id": "a7bf40ea.b672",
        "type": "ui_text_input",
        "z": "9c11a551.5e4b68",
        "name": "",
        "label": "Nombre de personne moyen dans l'heure",
        "tooltip": "",
        "group": "3e013ee1.e0f7fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "775aae62.c88bc"
            ]
        ]
    },
    {
        "id": "3c8c83fa.e36504",
        "type": "change",
        "z": "9c11a551.5e4b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "27326392.928924",
        "type": "change",
        "z": "9c11a551.5e4b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentPeopleNumber",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "775aae62.c88bc",
        "type": "change",
        "z": "9c11a551.5e4b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "avgPeoplePerHour",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1e5745f9.0075aa",
        "type": "ui_button",
        "z": "9c11a551.5e4b68",
        "name": "",
        "group": "3e013ee1.e0f7fa",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Envoyer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "931de1f9.133e8"
            ]
        ]
    },
    {
        "id": "ca87319e.971cf",
        "type": "mqtt out",
        "z": "9c11a551.5e4b68",
        "name": "",
        "topic": "CapteurCommerce",
        "qos": "",
        "retain": "",
        "broker": "e237a463.1bf93",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "931de1f9.133e8",
        "type": "function",
        "z": "9c11a551.5e4b68",
        "name": "",
        "func": "msg.payload = {}\n\nmsg.payload.sensorId = flow.get(\"id\");\nmsg.payload.currentPeopleNumber = flow.get(\"currentPeopleNumber\");\nmsg.payload.avgPeople = flow.get(\"avgPeoplePerHour\");\nreturn msg;\n\n//{\"sensorId\":1,\"currentPeopleNumber\":69, \"avgPeople\": 420}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "ca87319e.971cf"
            ]
        ]
    },
    {
        "id": "183626c4.7e1791",
        "type": "inject",
        "z": "9c11a551.5e4b68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "931de1f9.133e8"
            ]
        ]
    },
    {
        "id": "9fdd7a3a.28146",
        "type": "inject",
        "z": "9c11a551.5e4b68",
        "name": "RESET to 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "16a95673.787722",
                "72a67331.bb884c",
                "a7bf40ea.b672"
            ]
        ]
    },
    {
        "id": "8ebe4a2c.824e3",
        "type": "comment",
        "z": "9c11a551.5e4b68",
        "name": "Send 10 and 100 from sensor 1",
        "info": "",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "eaa412f7.b7d168",
        "type": "comment",
        "z": "9c11a551.5e4b68",
        "name": "Sends the specified values from the sensor specified in  the UI",
        "info": "",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "acdbd117.3c4bb8",
        "type": "ui_button",
        "z": "9c11a551.5e4b68",
        "name": "",
        "group": "9d25d6f0.b34818",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "POUF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "1c03126f.4d2f4e"
            ]
        ]
    },
    {
        "id": "a674a8f7.5e0a4",
        "type": "function",
        "z": "9c11a551.5e4b68",
        "name": "",
        "func": "var i;\nlet msgArr=[];\n\nfor(i =0; i<=14; ++i){\n    var newMsg = {payload:{} };\n    let max =  msg.payload[i].maxPeopleCapacity;\n    let nb1,nb2;\n    nb1 = Math.floor(Math.random() * Math.floor(max));\n    nb2 = Math.floor(Math.random() * Math.floor(max));\n    \n    newMsg.payload.sensorId = i;\n    newMsg.payload.currentPeopleNumber = nb1;\n    newMsg.payload.avgPeople = nb2;\n    newMsg.payload.max = max;\n    \n    msgArr[i]= newMsg;\n}\n\nreturn msgArr;\n",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 620,
        "wires": [
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ],
            [
                "fc881791.60e608",
                "225e733f.8a4cec"
            ]
        ]
    },
    {
        "id": "fc881791.60e608",
        "type": "debug",
        "z": "9c11a551.5e4b68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "4ebc2ac3.170cf4",
        "type": "inject",
        "z": "9c11a551.5e4b68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "1c03126f.4d2f4e"
            ]
        ]
    },
    {
        "id": "225e733f.8a4cec",
        "type": "mqtt out",
        "z": "9c11a551.5e4b68",
        "name": "",
        "topic": "CapteurCommerce",
        "qos": "",
        "retain": "",
        "broker": "e237a463.1bf93",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "1c03126f.4d2f4e",
        "type": "mongodb in",
        "z": "9c11a551.5e4b68",
        "mongodb": "8f67f30b.6c0e2",
        "name": "",
        "collection": "commerces",
        "operation": "find",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "a674a8f7.5e0a4"
            ]
        ]
    }
]