docker_NodeRed_MQTT/node-red/flows.json
[{"id":"8b9071f7.6ad848","type":"tab","label":"Reception données","disabled":false,"info":""},{"id":"bd329ca2.49e1c","type":"tab","label":"Simulation Capteur","disabled":false,"info":""},{"id":"8d4da33c.cb6318","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26e813b1.5ac7d4","type":"mongodb","hostname":"cluster0.kiq9v.mongodb.net","topology":"dnscluster","connectOptions":"retryWrites=true&w=majority","port":"27017","db":"TER","name":"DB_TER"},{"id":"54619bbd.4386e4","type":"ui_tab","name":"Simulation Capteur","icon":"dashboard","disabled":false,"hidden":false},{"id":"ab6d3217.b3c21","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"537a90e9.949958","type":"ui_group","name":"Entrée","tab":"54619bbd.4386e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f515e918.2b9d08","type":"ui_group","name":"Sortie","tab":"54619bbd.4386e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"b7b8bdf4.c4f7d8","type":"mqtt in","z":"8b9071f7.6ad848","name":"","topic":"CapteurCommerce","qos":"2","datatype":"auto","broker":"8d4da33c.cb6318","x":230,"y":160,"wires":[["e3e72668.65d148"]]},{"id":"ff7d6df5.f4b6d","type":"function","z":"8b9071f7.6ad848","name":"","func":"var name = msg.payload.location;\nvar type = msg.payload.type;\nvar date = new Date();\n\nmsg.query= {\"name\": name};\nmsg.payload = { \"$push\": {\"sensorsDatas\": {\"date\": date, \"type\":type}} };\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["88f4ef15.a371e8","6f84d98b.f72138"]]},{"id":"e3e72668.65d148","type":"json","z":"8b9071f7.6ad848","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":160,"wires":[["ff7d6df5.f4b6d","8405e4d3.6c"]]},{"id":"88f4ef15.a371e8","type":"mongodb out","z":"8b9071f7.6ad848","mongodb":"26e813b1.5ac7d4","name":"","collection":"commerces","payonly":false,"upsert":true,"multi":true,"operation":"update","x":800,"y":160,"wires":[]},{"id":"6f84d98b.f72138","type":"debug","z":"8b9071f7.6ad848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"8405e4d3.6c","type":"debug","z":"8b9071f7.6ad848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"3298def5.28a022","type":"inject","z":"bd329ca2.49e1c","name":"String sensorId and values","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"location\":\"E.Leclerc Pau\",\"type\":\"in\"}","payloadType":"str","x":150,"y":60,"wires":[["4db39dae.2616f4"]]},{"id":"4db39dae.2616f4","type":"mqtt out","z":"bd329ca2.49e1c","name":"","topic":"CapteurCommerce","qos":"","retain":"","broker":"8d4da33c.cb6318","x":370,"y":60,"wires":[]},{"id":"4f8c367a.bc16e","type":"ui_dropdown","z":"bd329ca2.49e1c","name":"","label":"","tooltip":"","place":"Choisir commerce","group":"537a90e9.949958","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"E.Leclerc Pau","value":"E.Leclerc Pau","type":"str"},{"label":"Auchan Pau","value":"Auchan Pau","type":"str"},{"label":"Fnac Pau","value":"Fnac Pau","type":"str"},{"label":"Intermarché SUPER Pau","value":"Intermarché SUPER Pau","type":"str"},{"label":"Casino","value":"Casino","type":"str"},{"label":"Nature et Découvertes Pau","value":"Nature et Découvertes Pau","type":"str"},{"label":"de Neuville Pau","value":"de Neuville Pau","type":"str"},{"label":"Crédit Agricole Pyrénées Gascogne - Pau Hameau","value":"Crédit Agricole Pyrénées Gascogne - Pau Hameau","type":"str"},{"label":"Leroy Merlin Pau","value":"Leroy Merlin Pau","type":"str"},{"label":"McDonald's","value":"McDonald's","type":"str"},{"label":"KFC Pau Université","value":"KFC Pau Université","type":"str"},{"label":"Restaurant Le Canard Royal","value":"Restaurant Le Canard Royal","type":"str"},{"label":"Lidl","value":"Lidl","type":"str"},{"label":"Bachi-Bouzouk","value":"Bachi-Bouzouk","type":"str"}],"payload":"","topic":"topic","topicType":"str","x":80,"y":240,"wires":[["5f1533ba.58bf8c"]]},{"id":"e4a9f734.5f22","type":"ui_button","z":"bd329ca2.49e1c","name":"","group":"537a90e9.949958","order":0,"width":0,"height":0,"passthru":false,"label":"Envoyer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":300,"wires":[["e3047bec.9f4808"]]},{"id":"5f1533ba.58bf8c","type":"change","z":"bd329ca2.49e1c","name":"","rules":[{"t":"set","p":"nameIn","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":240,"wires":[[]]},{"id":"e3047bec.9f4808","type":"function","z":"bd329ca2.49e1c","name":"","func":"msg.payload = {\"location\":flow.get(\"nameIn\"),\"type\":\"in\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":300,"wires":[["dd2c66a7.d7077"]]},{"id":"dd2c66a7.d7077","type":"mqtt out","z":"bd329ca2.49e1c","name":"","topic":"CapteurCommerce","qos":"","retain":"","broker":"8d4da33c.cb6318","x":390,"y":300,"wires":[]},{"id":"b385fe6a.696178","type":"ui_dropdown","z":"bd329ca2.49e1c","name":"","label":"","tooltip":"","place":"Choisir commerce","group":"f515e918.2b9d08","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"E.Leclerc Pau","value":"E.Leclerc Pau","type":"str"},{"label":"Auchan Pau","value":"Auchan Pau","type":"str"},{"label":"Fnac Pau","value":"Fnac Pau","type":"str"},{"label":"Intermarché SUPER Pau","value":"Intermarché SUPER Pau","type":"str"},{"label":"Casino","value":"Casino","type":"str"},{"label":"Nature et Découvertes Pau","value":"Nature et Découvertes Pau","type":"str"},{"label":"de Neuville Pau","value":"de Neuville Pau","type":"str"},{"label":"Crédit Agricole Pyrénées Gascogne - Pau Hameau","value":"Crédit Agricole Pyrénées Gascogne - Pau Hameau","type":"str"},{"label":"Leroy Merlin Pau","value":"Leroy Merlin Pau","type":"str"},{"label":"McDonald's","value":"McDonald's","type":"str"},{"label":"KFC Pau Université","value":"KFC Pau Université","type":"str"},{"label":"Restaurant Le Canard Royal","value":"Restaurant Le Canard Royal","type":"str"},{"label":"Lidl","value":"Lidl","type":"str"},{"label":"Bachi-Bouzouk","value":"Bachi-Bouzouk","type":"str"}],"payload":"","topic":"topic","topicType":"str","x":80,"y":400,"wires":[["93d4d309.28e31"]]},{"id":"287cb964.5d9536","type":"ui_button","z":"bd329ca2.49e1c","name":"","group":"f515e918.2b9d08","order":0,"width":0,"height":0,"passthru":false,"label":"Envoyer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":460,"wires":[["40b15ee1.336c7"]]},{"id":"93d4d309.28e31","type":"change","z":"bd329ca2.49e1c","name":"","rules":[{"t":"set","p":"nameOut","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":400,"wires":[[]]},{"id":"40b15ee1.336c7","type":"function","z":"bd329ca2.49e1c","name":"","func":"msg.payload = {\"location\":flow.get(\"nameOut\"),\"type\":\"out\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":460,"wires":[["3b30a00b.c66e38"]]},{"id":"3b30a00b.c66e38","type":"mqtt out","z":"bd329ca2.49e1c","name":"","topic":"CapteurCommerce","qos":"","retain":"","broker":"8d4da33c.cb6318","x":390,"y":460,"wires":[]}]